/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/
@media (min-width: 150px) and (max-width: 2000px) {
  body {
    overflow-x: hidden !important;
  }
}

/**
 * responsive larger than 150px screen
 */

@media (min-width: 150px) {
  #nav_pc {
    display: none;
  }

  .nav_mobile {
    display: block;
    margin-top: 6em;
  }

  /* button */
  #list {
    font-size: 1.7em;
    position: fixed;
    margin: -0.7em -5em;
    cursor: pointer;
    background: #e7e7e7;
    padding-top: 0.1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-radius: 50%;
  }

  #close {
    font-size: 1.7em !important;
    position: fixed;
    margin: -0.7em -5em;
    cursor: pointer;
    background: #e7e7e7;
    padding: 0 !important;
    padding-top: 0.1em !important;
    padding-left: 0.3em !important;
    padding-right: 0.3em !important;
    border-radius: 50%;
  }

  #list:hover,
  #close:hover,
  #translate_icon:hover,
  #moon:hover {
    background: #dbdbdb;
  }

  /* DARKMODE ICON MENU*/
  .dark-mode #list,
  .dark-mode #close,
  .dark-mode #translate_icon,
  .dark-mode #moon,
  .dark-mode #sun {
    background: #252525;
  }

  .dark-mode #list:hover,
  .dark-mode #close:hover,
  .dark-mode #translate_icon:hover,
  .dark-mode #moon:hover,
  .dark-mode #sun:hover {
    background: #2e2e2e;
  }

  /* ICON THEME */
  #translate_icon {
    background: #e7e7e7;
    padding-top: 0.3em !important;
    padding-bottom: 4px !important;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
    border-radius: 50%;
    margin-left: -2.6em;
    margin-top: -12.2px;
  }

  #moon {
    background: #e7e7e7;
    padding-top: 0.3em !important;
    padding-bottom: 4px !important;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
    border-radius: 50%;
    margin-top: -12.5px;
    margin-left: -1px;
  }

  #sun {
    background: #e7e7e7;
    padding-top: 0.3em !important;
    padding-bottom: 4px !important;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
    border-radius: 50%;
    margin-top: -12.5px;
  }

  .mobile_list {
    position: absolute;
  }


  /* body_home mobile */
  #Body-homes {
    padding-top: 0 !important;
    margin-top: -2.2em;
  }

  .section-home {
    position: inherit !important;
  }

  .section-home2 {
    display: none;
  }

  .descMob {
    width: 75vw !important;
  }

  /* MAIN ACCUEIL */
  .Main_Accueil {
    margin-left: 0 !important;
    max-width: 100% !important
  }


  .Main_Accueil h2 {
    margin-right: 0 !important;
  }

  .services-sections {
    display: flex;
    flex-direction: column;
    margin-left: 0 !important;
  }

  .services-sections article {
    max-width: 100% !important;
    margin-left: 0 !important;
  }

  /* SKILLS */
  .skills {
    margin: 0 !important;
    display: none;
  }

  .skills-main {
    display: flex;
    flex-direction: column-reverse !important;
    gap: 1em;
    margin-left: 0 !important;
  }

  .skills-section {
    width: 100% !important;
  }

  /* CONTACT FOOTER */
  .Footer-contact {
    margin-left: 0 !important;
    width: 100% !important;
  }

  .Footer-contact h2 {
    margin-right: 0 !important;
  }

  #contact {
    display: flex;
    flex-direction: column-reverse !important;
  }

  #icon-mobile {
    margin: 0 !important;
    display: none !important;
  }

  .text-lign {
    text-align: left !important;
    width: 120% !important;
  }

  .Formulaire {
    width: 120% !important;
  }

  .stars {
    margin-left: 0 !important;
  }

  /* FOOTERR */
  #mobile-footer {
    display: flex;
    flex-direction: column !important;
    gap: 1.5em;
    margin-top: 2em !important;
    margin-left: 0 !important;
  }

  .footer section:nth-child(2) {
    text-align: left !important;
    margin-left: 3em;
  }

  /* SERVICES */
  .Head-Services {
    margin-top: -2.2em;
    padding-left: 2em !important;
    width: 115% !important;
    height: 150vh !important;
  }

  .Head-Services div {
    display: flex;
    flex-direction: column !important;
  }

  #mobile-services {
    display: none !important;
  }

  .services-title {
    display: block !important;
    margin-bottom: -3em;
  }

  .services-title p:nth-child(1) {
    font-weight: 700;
    font-size: 1.5em;
    color: var(--bs-primary);
  }

  .Services section {
    width: 110% !important;
  }

  /* APROPOS */
  .Apropos {
    margin-top: -2.2em;
    padding-top: 0 !important;
    height: 100% !important;
  }

  .dark-mode .Apropos {
    height: 400vh !important;
  }

  .Apropos div header {
    height: max-content !important;
  }

  .apropos-image {
    position: absolute;
    inset: 0 !important;
    margin-top: 5em;
    outline: none !important;
  }

  .image2 {
    width: 45em !important;
    height: auto;
    border-radius: 0 !important;
    margin-top: -0.5em !important;
  }



  .article-text {
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-left: -2em !important;
    z-index: 9999;
    backdrop-filter: blur(3px);
    outline: 2px solid var(--bs-success);
    padding: 1em;
    z-index: 888;
  }

  .article-text p:nth-child(4) {
    color: #e6e6e6 !important;
  }

  .article-text sub {
    color: #e6e6e6 !important;
  }

  .Apropos div header section article:nth-child(1) {
    min-width: 117.5% !important;
  }

  .main-apropos div {
    display: flex;
    flex-direction: column !important;
  }

  .main-apropos section {
    background: var(--bs-white);
    width: 100% !important;
    margin-bottom: 2em;
  }

  .footer-apropos {
    width: 100% !important;
    margin-inline: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 2em;
  }

  .div-left {
    width: 35em !important;
    margin-left: -4.5em !important;
    padding: 1em;
    scale: 0.8 !important;
  }

  /* CONTACT */
  .Contact {
    margin-top: -2.2em !important;
    height: 220vh !important;
  }

  .Contact div:nth-child(1) {
    margin-top: -2em !important;
  }

  .Contact div:nth-child(2) {
    margin-left: 0 !important;
  }

  /* PROFILE */
  .Profile {
    margin-top: -2.2em !important;
    padding-top: 1.5em !important;
    width: 66.5% !important;
  }

  .Profile-head {
    display: flex;
    flex-direction: column !important;
    gap: 2.5rem;
    margin-left: 0 !important;
    padding-bottom: 20px;
  }

  .Profile-head section:nth-child(1) {
    width: 150% !important;
    height: auto !important;
  }

  .article-location p {
    width: 100% !important;
  }

  .image-home {
    margin-left: 4.5em !important;
  }

  .article-profile {
    margin-left: 3.5em !important;
  }

  /* PROJECT */
  .Projets {
    margin-top: -2.2em !important;
    height: 110em !important;
    padding-top: 0 !important;
  }

  #text-project {
    margin-left: 3.5em !important;
  }

  .pagination {
    position: absolute !important;
    top: 107em;
    left: 11%;
    z-index: 999;
    align-items: center;
  }

  .pagination button {
    height: max-content !important;
  }


  .pagination button:first-child {
    position: initial !important;
  }

  .pagination button:last-child {
    position: initial !important;
  }

  .projetSection {
    display: flex !important;
    flex-direction: column !important;
    gap: 3em;
    padding-bottom: 10em;
    margin-top: 1em !important;
  }

  .projetArticle {
    width: 73.5vw !important;
    height: auto !important;
    scale: 1 !important;
  }

  .para-desc {
    height: 15vh !important;
    width: 65.5vw !important;
    margin-top: -0.4em;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .bi-dot {
    display: none !important;
  }

  /* CV */
  div .Cv {
    margin-top: -2.2em;
    height: 40em;
    padding-top: 0 !important;
    padding-left: 3em !important;
  }

  .Cv-desc {
    display: none;
  }

  div .Cv-download {
    display: block;
    margin-top: 2em;
    position: fixed;
  }

  .link-mobile {
    position: absolute;
    top: -230%;
    margin-left: -4em;
  }

  .link-mobile div span button {
    color: var(--bs-danger);
    border: 1px solid rgb(165, 165, 165);
  }

  /* LOADING */
  .SK-Nav {
    height: 13.3vh !important;
  }

  .SK-Logo {
    min-width: 3.5em !important;
    height: 3.5em !important;
    scale: 0.9;
  }

  .SK-load main {
    display: flex;
    flex-direction: column-reverse !important;
  }

  .SK-load main section:nth-child(1) {
    margin: 0 !important;
    margin-top: -12em !important;
  }

  .SK-load main section:nth-child(2) {
    display: none !important;
  }

  .SK-Btn1 {
    margin-left: -27em;
    min-width: 2.5em;
  }

  .SK-Btn2 {
    margin-left: 0.5em;
    min-width: 2.5em;

  }

}

/**
   * responsive larger than 450px screen
   */

@media (min-width: 450px) {
  #nav_pc {
    display: none;
  }

  .nav_mobile {
    display: block;
    margin-top: 6em;
  }

  #nav {
    width: 100vw !important;
  }

  .logo {
    padding-right: 1.5em !important;
  }

  /* button */
  #list {
    font-size: 1.7em;
    position: fixed;
    margin: -0.7em -5em;
    cursor: pointer;
    background: #e7e7e7;
    padding-top: 0.1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-radius: 50%;
  }

  #close {
    font-size: 1.7em !important;
    position: fixed;
    margin: -0.7em -5em;
    cursor: pointer;
    background: #e7e7e7;
    padding: 0 !important;
    padding-top: 0.1em !important;
    padding-left: 0.3em !important;
    padding-right: 0.3em !important;
    border-radius: 50%;
  }

  #list:hover,
  #close:hover,
  #translate_icon:hover,
  #moon:hover {
    background: #dbdbdb;
  }

  /* DARKMODE ICON MENU*/
  .dark-mode #list,
  .dark-mode #close,
  .dark-mode #translate_icon,
  .dark-mode #moon,
  .dark-mode #sun {
    background: #252525;
  }

  .dark-mode #list:hover,
  .dark-mode #close:hover,
  .dark-mode #translate_icon:hover,
  .dark-mode #moon:hover,
  .dark-mode #sun:hover {
    background: #2e2e2e;
  }

  /* ICON THEME */
  #translate_icon {
    background: #e7e7e7;
    padding-top: 0.3em !important;
    padding-bottom: 4px !important;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
    border-radius: 50%;
    margin-left: -2.6em;
    margin-top: -12.2px;
  }

  #moon {
    background: #e7e7e7;
    padding-top: 0.3em !important;
    padding-bottom: 4px !important;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
    border-radius: 50%;
    margin-top: -10.5px;
    margin-left: -1px;
  }

  #sun {
    background: #e7e7e7;
    padding-top: 0.3em !important;
    padding-bottom: 4px !important;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
    border-radius: 50%;
    margin-top: -10.5px;
  }

  .nav-4 {
    margin-left: -1.3em;
  }

  .mobile_list {
    position: absolute;
  }

  /* body_home mobile */
  #Body-homes {
    padding-top: 0 !important;
    margin-top: -2.2em;
  }

  .section-home {
    position: inherit !important;
  }

  .section-home2 {
    display: none;
  }

  .descMob {
    width: 75vw !important;
  }

  /* MAIN ACCUEIL */
  .Main_Accueil {
    margin-left: 0 !important;
    max-width: 100% !important
  }


  .Main_Accueil h2 {
    margin-right: 0 !important;
  }

  .services-sections {
    display: flex;
    flex-direction: column;
    margin-left: 0 !important;
  }

  .services-sections article {
    max-width: 100% !important;
    margin-left: 0 !important;
  }

  /* SKILLS */
  .skills {
    margin: 0 !important;
    display: none;
  }

  .skills-main {
    display: flex;
    flex-direction: column-reverse !important;
    gap: 1em;
    margin-left: 0 !important;
  }

  .skills-section {
    width: 100% !important;
  }

  /* CONTACT FOOTER */
  .Footer-contact {
    margin-left: 0 !important;
    width: 100% !important;
  }

  .Footer-contact h2 {
    margin-right: 0 !important;
  }

  #contact {
    display: flex;
    flex-direction: column-reverse !important;
  }

  #icon-mobile {
    margin: 0 !important;
    display: none !important;
  }

  .text-lign {
    text-align: left !important;
    width: 120% !important;
  }

  .Formulaire {
    width: 120% !important;
  }

  .stars {
    margin-left: 0 !important;
  }

  /* FOOTERR */
  #mobile-footer {
    display: flex;
    flex-direction: column !important;
    gap: 1.5em;
    margin-top: 2em !important;
    margin-left: 0 !important;
  }

  .footer section:nth-child(2) {
    text-align: left !important;
    margin-left: 3em;
  }

  /* SERVICES */
  .Head-Services {
    margin-top: -2.2em;
    padding-left: 2em !important;
    width: 115% !important;
    height: 150vh !important;
  }

  .Head-Services div {
    display: flex;
    flex-direction: column !important;
  }

  #mobile-services {
    display: none !important;
  }

  .services-title {
    display: block !important;
    margin-bottom: -3em;
  }

  .services-title p:nth-child(1) {
    font-weight: 700;
    font-size: 1.5em;
    color: var(--bs-primary);
  }

  .Services section {
    width: 105% !important;
  }

  /* APROPOS */
  .Apropos {
    margin-top: -2.2em;
    padding-top: 0 !important;
    height: 100% !important;
  }

  .dark-mode .Apropos {
    height: 400vh !important;
  }

  .Apropos div header {
    height: 77vh !important;
  }

  .apropos-image {
    position: absolute;
    inset: 0 !important;
    margin-top: 5em;
    outline: none !important;
  }

  .image2 {
    width: 34em !important;
    height: auto;
    border-radius: 0 !important;
    margin-top: -0.5em !important;
  }



  .article-text {
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-left: -2em !important;
    z-index: 9999;
    backdrop-filter: blur(3px);
    outline: 2px solid var(--bs-success);
    padding: 1em;
    z-index: 888;
  }

  .article-text p:nth-child(4) {
    color: #e6e6e6 !important;
  }

  .article-text sub {
    color: #e6e6e6 !important;
  }

  .Apropos div header section article:nth-child(1) {
    min-width: 117.5% !important;
  }

  .main-apropos div {
    display: flex;
    flex-direction: column !important;
  }

  .main-apropos section {
    background: var(--bs-white);
    width: 100% !important;
    margin-bottom: 2em;
  }

  .footer-apropos {
    width: 100% !important;
    margin-inline: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 2em;
  }

  .div-left {
    width: 35em !important;
    margin-left: -4em !important;
    padding: 1em;
    scale: 0.9 !important;
  }


  /* CONTACT */
  .Contact {
    margin-top: -2.2em !important;
    height: 220vh !important;
  }

  .Contact div:nth-child(1) {
    margin-top: -2em !important;
  }

  .Contact div:nth-child(2) {
    margin-left: 0 !important;
  }

  /* PROFILE */
  .Profile {
    margin-top: -2.2em !important;
    padding-top: 1.5em !important;
    width: 66.5% !important;
  }

  .Profile-head {
    display: flex;
    flex-direction: column !important;
    gap: 2.5rem;
    margin-left: 0 !important;
    padding-bottom: 20px;
  }

  .Profile-head section:nth-child(1) {
    width: 150% !important;
    height: auto !important;
  }

  .article-location p {
    width: 100% !important;
  }

  .image-home {
    margin-left: 4.5em !important;
  }

  .article-profile {
    margin-left: 3.5em !important;
  }

  /* PROJECT */
  .Projets {
    margin-top: -2.2em !important;
    height: 110em !important;
    padding-top: 0 !important;
  }

  #text-project {
    margin-left: 3.5em !important;
  }

  .pagination {
    position: absolute !important;
    top: 107em;
    left: 11%;
    z-index: 999;
    align-items: center;
  }

  .pagination button {
    height: max-content !important;
  }


  .pagination button:first-child {
    position: initial !important;
  }

  .pagination button:last-child {
    position: initial !important;
  }

  .projetSection {
    display: flex !important;
    flex-direction: column !important;
    gap: 3em;
    padding-bottom: 10em;
    margin-top: 1em !important;
  }

  .projetArticle {
    width: 73.5vw !important;
    height: auto !important;
    scale: 1 !important;
  }

  .para-desc {
    height: 15vh !important;
    width: 65.5vw !important;
    margin-top: -0.4em;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .bi-dot {
    display: none !important;
  }

  /* CV */
  div .Cv {
    margin-top: -2.2em;
    height: 40em;
    padding-top: 0 !important;
    padding-left: 3em !important;
  }

  .Cv-desc {
    display: none;
  }

  div .Cv-download {
    display: block;
    margin-top: 2em;
    position: fixed;
  }

  .link-mobile {
    position: absolute;
    top: -230%;
    margin-left: -4em;
  }

  .link-mobile div span button {
    color: var(--bs-danger);
    border: 1px solid rgb(165, 165, 165);
  }

  /* LOADING */
  .SK-Nav {
    height: 13.3vh !important;
  }

  .SK-Logo {
    min-width: 3.5em !important;
    height: 3.5em !important;
    scale: 0.9;
  }

  .SK-load main {
    display: flex;
    flex-direction: column-reverse !important;
  }

  .SK-load main section:nth-child(1) {
    margin: 0 !important;
    margin-top: -12em !important;
  }

  .SK-load main section:nth-child(2) {
    display: none !important;
  }

  .SK-Btn1 {
    margin-left: -27em;
    min-width: 2.5em;
  }

  .SK-Btn2 {
    margin-left: 0.5em;
    min-width: 2.5em;

  }
}


/**
   * responsive larger than 580px screen
   */

@media (min-width: 580px) {}

/**
   * responsive larger than 768px screen
   */

@media (min-width: 768px) {

  /* button */
  #list {
    margin: -0.7em -5.4em;
  }

  #close {
    margin: -0.7em -5.4em;
  }

  .mobile_list {
    margin-left: 10em;
  }

  /* body_home mobile */
  #Body-homes {
    padding-top: 0 !important;
  }

  .section-home {
    position: inherit !important;
  }

  .section-home2 {
    display: none;
  }

  .services-sections article {
    width: 200% !important;
    margin-left: 0 !important;
  }


  .descMob {
    width: 60% !important;
  }


}

@media (min-width: 1024px) {
  #nav_pc {
    display: block;
  }

  .nav_mobile {
    display: none;
    margin-top: 6em;
  }

  .logo {
    padding-right: 1.8em !important;
  }

  #moon,
  #sun {
    padding: 0 !important;
    background: none;
    margin-top: 0;
  }

  #translate_icon {
    padding: 0 !important;
    background: none;
    margin-left: 0;
    margin-top: 0;
  }

  #list:hover,
  #close:hover,
  #translate_icon:hover,
  #moon:hover {
    background: none;
  }

  /* DARKMODE ICON MENU*/
  .dark-mode #list,
  .dark-mode #close,
  .dark-mode #translate_icon,
  .dark-mode #moon,
  .dark-mode #sun {
    background: none;
  }

  .dark-mode #list:hover,
  .dark-mode #close:hover,
  .dark-mode #translate_icon:hover,
  .dark-mode #moon:hover,
  .dark-mode #sun:hover {
    background: none;
  }


  /* body_home mobile */
  #Body-homes {
    padding-top: 5em !important;
  }

  .section-home {
    position: absolute !important;
    top: 25% !important;
    left: 15% !important;
  }

  .section-home2 {
    display: block;
  }

  .section-home2 picture {
    margin-left: 30em !important;
    padding: 7em;
    padding-top: 15em;
    overflow: hidden;
    width: auto;
  }

  .image-user {
    transform: scale(91%);
    object-fit: cover;
    z-index: 999;
    margin-top: -3.2em !important;
    margin-left: 40em !important;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 65.5%;
  }

  .descMob {
    width: 60% !important;
  }

  /* MAIN ACCUEIL */
  .Main_Accueil {
    margin-left: 1.4em;
    max-width: 97%;
  }

  .Main_Accueil h2 {
    margin-right: 2.5em !important;
  }

  .services-sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem !important;
    margin-left: 7em !important;
  }

  .services-sections article {
    max-width: 40% !important;
    margin-left: 1em !important;
  }

  /* SKILLS */
  .skills {
    margin: 3em !important;
    display: block;
  }

  .skills-main {
    display: flex;
    flex-direction: row !important;
    gap: 1em;
    margin-left: 1em;
  }

  .skills-section {
    width: 50%;
  }

  /* CONTACT FOOTER */
  .Footer-contact {
    margin-left: 3em !important;
    width: 93% !important;
  }

  .Footer-contact h2 {
    margin-right: 2.5em !important;
  }

  #contact {
    display: flex;
    flex-direction: row-reverse !important;
    justify-content: space-between;
  }

  #icon-mobile {
    margin: 2em !important;
    display: block !important;
  }

  .text-lign {
    text-align: center !important;
    width: 100% !important;
  }

  .stars {
    margin-left: 9.1em !important;
  }

  .Formulaire {
    width: 100% !important;
  }

  /* FOOTER */
  #mobile-footer {
    display: flex;
    flex-direction: row !important;
    margin-top: 0.5em !important;
    margin-left: 3rem !important;
  }

  .footer section:nth-child(2) {
    text-align: center !important;
  }

  /* SERVICE */
  .Head-Services {
    margin-top: 0;
    padding-left: 10em !important;
    width: 100% !important;
    height: 100vh !important;
  }

  .Head-Services div {
    display: flex;
    flex-direction: row !important;
  }

  #mobile-services {
    display: block !important;
  }

  .services-title {
    display: none !important;
  }

  .Services section {
    width: 110% !important;
  }

  /* APROPOS */
  .Apropos {
    margin-top: 0 !important;
    padding-top: 4.6em !important;
  }

  .dark-mode .Apropos {
    height: 214vh !important;
  }

  .Apropos div header {
    height: 78vh !important;
  }

  .apropos-image {
    position: inherit;
    margin-top: 0;
    outline: 2px solid var(--bs-success) !important;
  }

  .image2 {
    width: 36em !important;
    height: auto;
    border-radius: 5px !important;
    margin-top: 0 !important;
  }


  .article-text {
    margin-top: 3rem !important;
    margin-right: 2rem !important;
    margin-left: 1rem !important;
    backdrop-filter: inherit;
    outline: none !important;
    padding: 0;
  }

  .article-text p:nth-child(4) {
    color: currentColor !important;
  }

  .article-text sub {
    color: currentColor !important;
  }

  .Apropos div header section article:nth-child(1) {
    width: 50% !important;
    min-width: 0 !important;
  }

  .main-apropos div {
    display: flex;
    flex-direction: row !important;
    gap: 1.5rem !important;
  }

  .main-apropos section {
    margin-bottom: 0 !important;
  }

  .footer-apropos {
    width: 80% !important;
    margin-inline: 8em !important;
    padding-left: 5em;
    padding-right: 9em;
    margin-bottom: 2em;
  }

  .div-left {
    width: 59em !important;
    margin-left: 2.8em !important;
    padding: 1em;
    justify-content: center;
    scale: 1 !important;
  }

  /* CONTACT */
  .Contact {
    margin-top: 0.9em !important;
    height: 97.8vh !important;
  }

  .Contact div:nth-child(1) {
    margin-top: 0 !important;
  }

  .Contact div:nth-child(2) {
    margin-left: 0 !important;
  }

  /* profile */
  .Profile {
    margin-top: 0 !important;
    padding-top: 5.3em !important;
    margin-left: -1em !important;
    width: 100% !important;
  }

  .Profile-head {
    display: flex;
    flex-direction: row !important;
    gap: 2.5rem;
    margin-left: 2em !important;
  }

  .Profile-head section:nth-child(1) {
    width: 24vw !important;
    height: 82vh !important;
  }

  .article-location p {
    width: 15vw !important;
  }

  .image-home {
    margin-left: 1em !important;
  }

  .article-profile {
    margin-left: 0 !important;
  }

  /* PROJECT */
  .Projets {
    margin-top: 0 !important;
    height: 100vh !important;
    padding-top: 4.1em !important;
  }

  .pagination {
    position: inherit !important;
  }

  .pagination button:first-child {
    position: absolute !important;
  }

  .pagination button:last-child {
    position: absolute !important;
  }

  .projetSection {
    display: flex;
    flex-direction: row !important;
    justify-content: space-evenly !important;
    padding-inline: 2em !important;
    padding-bottom: 0 !important;
    padding-bottom: 10em;
    margin-top: -0.7em !important;
  }

  .projetArticle {
    width: 27vw !important;
    height: 33.5vw !important;
    scale: 0.9 !important;
  }

  .para-desc {
    height: 8vh !important;
    width: 25vw !important;
    margin-top: -0.4em;
  }

  .bi-dot {
    display: block !important;
  }

  /* CV */
  div .Cv {
    margin-top: 0 !important;
    padding-top: 4em !important;
    padding-left: 0 !important;
    height: 41em;
  }

  .Cv-desc {
    display: block;
  }

  div .Cv-download {
    display: none;
  }

  .link-mobile {
    position: absolute;
    top: -230%;
    margin-left: -4em;
  }

  .link-mobile div span button {
    color: var(--bs-danger);
    border: 1px solid rgb(165, 165, 165);
  }

  /* LOADING */
  .SK-Nav {
    height: 12.3vh !important;
  }

  .SK-Logo {
    width: 4em !important;
    height: 4em !important;
    scale: 1;
  }

  .SK-load main {
    display: flex;
    flex-direction: row !important;
  }

  .SK-load main section:nth-child(1) {
    margin: 1em !important;
    margin-top: 1.5em !important;
  }

  .SK-load main section:nth-child(2) {
    display: block !important;
  }


  .SK-Btn1 {
    margin-left: 0 !important;
  }

  .SK-Btn2 {
    margin-left: 0 !important;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .section-home article {
    display: block;
    margin-left: -6em;
  }

  .name {
    margin-left: 6em !important;
  }

  .section-home2 article {
    display: block;
    margin-left: -13em;
    scale: 0.9;
  }

  /* skills */
  .skills-main {
    display: flex;
    flex-direction: row;
    gap: 0.5em !important;
    margin-left: 0 !important;
  }

  .skills-section:nth-child(1) {
    width: 150em !important;
  }
}

@media (min-width: 1150px) and (max-width: 1250px) {
  .section-home article {
    display: block;
    margin-left: -6em;
  }

  .name {
    margin-left: 6em !important;
  }

  .section-home2 article {
    display: block;
    margin-left: -10em;
    scale: 0.9;
  }

}

@media (min-width: 1200px) and (max-width: 1250px) {
  .section-home article {
    display: block;
    margin-left: -6em;
  }

  .name {
    margin-left: 6em !important;
  }

  .section-home2 article {
    display: block;
    margin-left: -5em;
    scale: 0.9;
  }

  /* skills */
  .skills-main {
    display: flex;
    flex-direction: row;
    gap: 0.5em !important;
    margin-left: 0 !important;
  }

  .skills-section:nth-child(1) {
    width: 150em !important;
  }
}


@media (min-width: 1250px) and (max-width: 1300px) {
  .section-home article {
    display: block;
    margin-left: -4.5em;
  }

  .name {
    margin-left: 4.5em !important;
  }

  .section-home2 article {
    display: block;
    margin-left: -5em;
  }

  /* skills */
  .skills-main {
    display: flex;
    flex-direction: row;
    gap: 0.5em !important;
    margin-left: 0 !important;
  }

  .skills-section:nth-child(1) {
    width: 150em !important;
  }
}