@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100&display=swap');

@font-face {
  font-family: 'OpenSans';
  src: url('../src/tools/font/Nunito-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'nunito';
  src: url('../src/tools/font/static/Nunito-ExtraBold.ttf');
}

:root {
  --bs-danger: #ff0000;
  --bd-danger-dark: #ec1111;
}

.add {
  display: block;
}

.outline {
  outline: 1px solid silver;
}

.outline1 {
  outline: 1px solid silver;
}

.outline1:hover {
  outline: 2px solid var(--bs-primary);
  cursor: default;
}

.p-light {
  margin-left: 12.5em;
  cursor: pointer;
  outline: 1px solid silver;
}

.p-light:hover {
  outline: 2px solid var(--bs-warning);
}

.p-dark {
  margin-top: 2.3em;
  margin-left: 12.5em;
  cursor: pointer;
  outline: 1px solid silver;
}

.p-dark:hover {
  outline: 2px solid var(--bs-info);
}

.menu {
  display: none;
}

.nav-active {
  position: relative;
  text-decoration: none;
  color: var(--bs-danger);
  font-weight: 500;
}

.nav-active::before {
  content: "";
  height: 2.5px;
  width: 0;
  background: var(--bs-danger);
  border: none;
  position: absolute;
  border-radius: 17px;
  bottom: 30%;
  left: 52.5%;
  transform: translateX(-50%);
  z-index: 999;
  animation: loaders 0.3s normal forwards;
}

@keyframes loaders {
  0% {
    width: 0;
  }

  100% {
    width: 99%;
  }
}

.nav-active1 {
  position: relative;
  text-decoration: none;
  color: var(--bs-danger);
  font-weight: 500;
}

.nav-active1::before {
  content: "";
  height: 2.5px;
  width: 0;
  background: var(--bs-danger);
  border: none;
  position: absolute;
  border-radius: 17px;
  bottom: 30%;
  left: 31.8%;
  transform: translateX(-50%);
  z-index: 999;
  animation: loade 0.3s normal forwards;
}

@keyframes loade {
  0% {
    width: 0;
  }

  100% {
    width: 58%;
  }
}

.nav-active2 {
  position: relative;
  text-decoration: none;
  color: var(--bs-danger);
  font-weight: 500;
}

.nav-active2::before {
  content: "";
  height: 2.5px;
  width: 3em;
  background: var(--bs-danger);
  border: none;
  position: absolute;
  border-radius: 17px;
  bottom: 5%;
  left: 19.7%;
  transform: translateX(-50%);
  z-index: 999;
}

.nav_mobile {
  display: none;
}

#nav_pc {
  display: block;
}

/* mobile */
@media (max-width:640px) {
  body {
    overflow-x: hidden;
  }

  #nav_pc {
    display: none;
  }

  .nav_mobile {
    display: block;
    margin-top: 6em;
  }

  #list {
    font-size: 2em;
    position: fixed;
    margin: -0.7em -3em;
    cursor: pointer;
  }

  #close {
    position: fixed;
    margin: -0.9em -3.2em;
    cursor: pointer;
  }

  .nav-4 {
    margin-left: -1.3em;
  }

  .mobile_list {
    position: absolute;
  }


  .nav_mobile p i {
    font-weight: bold;
    background: none;
  }

  #translate_icon {
    margin-top: -0.2em;
    margin-left: -1em;
  }

  /* body_home mobile */
  .Body-homes {
    height: 70vh;
    margin-top: -5.5em;
  }

  .section-home {
    margin-top: -4.2em;
  }

  .image-user,
  #Calque_1 {
    display: none;
  }

  /* main_home mobile */
  .Main_Accueil {
    width: 92%;
  }

  .services-sections {
    display: flex;
    flex-direction: column;
  }

  .services-sections :is(.services-article, .services-article1, .services-article2, .services-article3) {
    max-width: 52em;
    transform: scale(0.9);
    margin-left: -7.3em;
  }

  /* SKILLS */
  #skills-main {
    display: flex;
    flex-direction: column;
    margin-top: -4em;
  }

  #skills-section1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0rem !important;
    width: 100%;
    margin-left: -2em;
  }

  .skills-skills {
    padding: 2em;
    transform: scale(0.7);
    display: none;
  }

  #skills-section2 {
    width: 100%;
  }

  .Footer-contact #contact {
    display: flex;
    flex-direction: column;
    padding-left: -3em;
  }

  #icon-mobile {
    display: none;
  }

  /* footer */
  #mobile-footer {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 1em;
  }

  #icon-mobile {
    margin-left: 8em;
  }

  /* services */
  .Head-Services {
    margin-top: -3em;
  }

  #mobile-services {
    display: none;
  }

  .Services section {
    transform: scale(0.9);
    margin-left: -7.5em;
  }

  .services-title {
    font-size: 1.5em;
    position: absolute;
    text-decoration: underline;
    text-underline-offset: 7px;
  }

  /* APROPOS */
  .Apropos {
    margin-top: -6.5em;
  }

  .Apropos .header-apropos header section {
    display: flex;
    flex-direction: column;
  }

  .Apropos .header-apropos header {
    height: 60vh;
  }

  .header-apropos header section article p {
    width: 200% !important;
  }

  .Apropos .header-apropos header section .article-text {
    margin-top: 0.2em;
    margin-left: 0.3em;
  }

  .apropos-image {
    display: none;
  }

  .Apropos .main-apropos div {
    display: flex;
    flex-direction: column;
  }

  .Apropos .main-apropos div section {
    margin-top: 1.5em;
    width: 28.3em;
  }

  .Apropos .footer-apropos {
    display: none;
  }

  /* FOOTER CONTACT */
  div .text-lign {
    text-align: left;
  }

  div .stars {
    margin-left: 5.5em;
    margin-top: -1.5em;
  }

  .Footer-contact #contact {
    text-align: left;
  }

  div .Footer-contact {
    margin-left: 1em;
  }

  /* CONTACT */
  div .Contact {
    margin-top: -6em;
    height: 300%;
  }

  /* PROFILE */
  .Profile {
    display: none;
  }

  div .Profile-mobile {
    display: block;
    margin-top: -2em;
  }

  /* CV */
  div .Cv {
    display: flex;
    flex-direction: column;
    margin-top: -33.5em;
    height: 70em;
  }

  .Cv-desc {
    display: none;
  }

  div .Cv-download {
    display: block;
  }

  .link-mobile {
    position: absolute;
    top: -230%;
    margin-left: -4em;
  }

  .link-mobile div span button{
    color: var(--bs-danger);
    border: 1px solid rgb(165, 165, 165);
  }

  /* translate */
  div .translate {
    outline: 1px solid var(--bs-gray-400);
  }
  
  div .translate article p {
    outline: 1px solid var(--bs-gray-400);
  }
  .dark-mode div .translate {
    outline: 1px solid var(--bs-gray-600);
  }
  
  .dark-mode div .translate article p {
    outline: 1px solid var(--bs-gray-600);
  }
 /* LOADING */
 .SK-Nav .SK-Logo{
  margin-right: -14em;
  width: 4.2em;
 }
 .SK-Nav .SK-Nav-section{
  width: 12em;
  margin-left: 19.3em;
 }
 div .SK-load main{
  display: flex;
  flex-direction: column-reverse;
 }
 div .SK-load main section:nth-child(1){
  margin-top: -12.5em;
 }
 div .SK-load main section:nth-child(1) article span{
  margin-top: 1em;
 }
 div .SK-load main section:nth-child(2) article{
   width: 7em;
   height: 7em;
   margin-top: -9em;
   margin-left: 1em;
 }
}

.Cv {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.Cv-download {
  display: none;
  position: absolute;
  top: 75%;
  left: 79%;
}

.Cv-download .sp-btn {
  background: green;
  padding: 5px;
  border-radius: 50%;
  font-size: 2.4em;
  padding-left: 13px;
  padding-right: 13px;
  outline: 4px solid var(--bs-white);
  cursor: pointer;
  color: white;
}

.text-lign {
  text-align: center;
}

.Profile-mobile {
  display: none;
}

.dark-mode .style-dark {
  background: #181818;
  color: #fff;
}

.style-dark {
  background: var(light);
}

.img-mobile {
  background: #fff;
}

.dark-mode .img-mobile {
  background: #141414;
}

.dark-mode .mobile_list {
  background: var(--bs-dark);
}

.dark-mode .mobile_list article:hover {
  background: var(--bs-primary);
}

.mobile_list {
  background: var(--bs-light);
  width: 17em;
  top: 100%;
  left: 34.5%;
  overflow: hidden;
  animation: anim 0.3s linear forwards;
  display: flex;
  flex-direction: column;
  padding: 0.6em;
}

@keyframes anim {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 450%;
  }
}

.mobile_list article {
  background: transparent;
  cursor: pointer;
  transition: 0.2s;
  height: 3em;
  padding: 0.6em;
  text-transform: capitalize;
  border-radius: 3px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.7em;
}

.mobile_list article:hover {
  background: var(--bs-primary);
  color: white;
}

.mobile_list article:hover p {
  color: white;
}

.mobile_list article:hover i {
  outline: 0.1em solid var(--bs-white);
}

/* Active */
.mobile-active {
  position: relative;
  text-decoration: none;
  color: var(--bs-danger);
  font-weight: 500;

}

.mobile-active .mobile_list article {
  background: var(--bs-light);
}

.mobile-active p {
  color: red;
}

.mobile-active #shape {
  stroke: var(--bs-danger);
}

.mobile-active #fill {
  fill: var(--bs-danger);
}

.mobile-active .i-contact {
  color: var(--bs-danger);
  outline: 1px solid var(--bs-danger);
}

.mobile-active .i-info {
  fill: var(--bs-danger);
}

.mobile-active .i-services {
  color: var(--bs-danger);
  outline: 1px solid var(--bs-danger);
}

/* Hover */
.mobile_list article:hover #shape {
  stroke: #fff;
}

.mobile_list article:hover #fill {
  fill: #fff;
}

.mobile_list article:hover .i-info {
  fill: #fff;
}

.mobile_list article:hover .i-contact {
  color: #fff;
}

.mobile_list article:hover .i-services {
  color: #fff;
}

#shape {
  stroke: var(--bs-primary);
}

#fill {
  fill: var(--bs-primary);
}

.i-info {
  fill: var(--bs-primary);
  margin-top: -0.3em;
  margin-left: -1.8px;
}

.i-services,
.i-contact {
  outline: 0.1em solid var(--bs-primary);
  border-radius: 50%;
  padding-inline-start: 4.1px;
  padding-inline-end: 5.3px;
  padding-top: 2.2px;
  padding-bottom: 1.7px;
  font-size: 15.5px;
}

.i-contact {
  margin-left: 2px;
}

.dark-mode .translate {
  background: var(--bs-dark);
}

.dark-mode .translate article p {
  background: var(--bs-dark);
  color: var(--bs-info);
}

.dark-mode .translate article p:hover {
  background: var(--bs-gray-700);
}

.dark-mode #translate_icon {
  color: var(--bs-info);
}

#translate_icon {
  color: var(--bs-primary);
}

.translate {
  background: var(--bs-light);
  padding: 15px;
  border-radius: 0.3em;
  overflow: hidden;
  margin-left: -5.5em;
  position: absolute;
  margin-top: 2.9em;
  outline: 1px solid var(--bs-gray-400);
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 3px;
}

.translate article p {
  background: var(--bs-gray-100);
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  outline: 1px solid var(--bs-gray-400);
  padding-inline: 1em;
  color: var(--bs-primary);
}

.translate article p:hover {
  background: var(--bs-gray-200);
  padding: 6px;
  border-radius: 4px;
  padding-inline: 1em;
}

.hr {
  width: 5em;
}

.out {
  outline: 2px solid var(--bs-danger);
}

#sun {
  display: none;
}

.stars {
  margin-left: 9.1em;
}

.name {
  font-family: 'nunito';
}

.para-line {
  position: relative;
  color: var(--bs-danger);
}

.para-line::before {
  content: "";
  height: 2px;
  width: 2em;
  background: var(--bs-danger);
  position: absolute;
  border-radius: 17px;
  bottom: -6%;
  left: 34%;
  transform: translateX(-50%);
  z-index: 999;
  opacity: 0.9;
}


/* PopupWithLink.css */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Arrière-plan semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Pour s'assurer que le pop-up est au-dessus du reste du contenu */
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.popup a {
  color: #007bff;
  /* Couleur du lien actif */
  text-decoration: none;
}

.popup a:hover {
  text-decoration: underline;
  /* Soulignement au survol du lien */
}

button {
  margin-top: 10px;
  cursor: pointer;
}

.loading {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 9999;
  text-align: center;
  background: transparent;
  backdrop-filter: brightness(95%);
}

.loading picture img {
  width: 10em;
  height: auto;
  background: transparent;
  border-radius: 50%;
  padding: 0.4em;
  margin-top: 9em;
}